footer.main-footer {
  margin-top: 100px;
  background: #3586ff;
}
.section-wave {
  position: relative;
  width: 100%;
  height: 200px;
  background: #3586ff;
  overflow: hidden;
}

.section-wave .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: url(wave.png); */
  background-size: 1000px 100px;
}

.section-wave .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: 1000px;
  }
}
.section-wave .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: -1000px;
  }
}

.section-wave .wave.wave3 {
  animation: animate2 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 15px;
}

@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: -1000px;
  }
}

.section-wave .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate4 {
  0% {
    background-position-x: 0;
  }
  0% {
    background-position-x: -1000px;
  }
}
.z100000 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
.z100000 ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.z100000 ul li {
  font-size: 1.6rem;
  font-weight: bold;
  transition: 1.5s;
}
.z100000 ul li:hover {
  transition: 1.5s;
  background: #093d3b;
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 960px) {
  .z100000 ul {
    flex-direction: column;
  }
}