@media all and (max-width: 1024px){

}
@media all and (min-width: 1400px){

}
@media all and (max-width: 767px){
    .img-detail{
        width: 100% !important;
        height: 100% !important;
        position: none;
    }
}
@media only screen and (max-width: 600px) {
    
    .list-ingredients{
        width: 260px !important;
        padding-left: 103px !important;
    }
    .avatar{
        width: 50px;
        height: 50px;
    }
    .form-floating{
        width: 400px !important;
        
    }
    .SortComment{
        padding-left: 220px !important;
    }
    a.btn.btn-xoa {
        background-color: #8e2a20;
        padding: 5px 20px !important;
      }
    a.btn.btn-sua {
        background-color: #0d6efd;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px 20px !important;
      }
      .bg-light{
        height: auto !important;
    }
  }
.description > ol{
    padding-bottom: 10px;
}
.tutorial{
    background: green;
    padding: 10px;    
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-left: -4px;
}
.bg-light2{
    background-color: #f8f9fa!important;
}
.contentTop{
    padding-bottom: 20px;
}
.boderTutorial{
    margin-top: 0px;
    border: 1px solid gainsboro;
}
.form-floating{
    width: 500px;
    border: none;
    margin-bottom: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    line-height: 20px;
}
.form-floating>.form-control, .form-floating>.form-select{
    height: 100px;
}
.comment{
    background:green;
    padding: 7px;
    width: auto;
    text-align: center;
    color: white;
    margin-top: 50px;
    float: right;
}
.bod{
    border-bottom: 1px solid green;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
.form-comment{
    display: flex;
    margin-top: 10px;
}
.btn-dang{
    float: right;
    background: #0277bd;
    padding: 5px 10px;
    border:1px solid #dadada ;
    margin-top: 5px;
    color: white;
}
.btn-dang:hover{
    color: white;
}
.contentAcc{
    padding-left: 10px;
}
.nameAcc{
    margin-bottom: 0px;
    font-weight: bold;
}
.SortComment{
    margin-top: 55px;
    float: right;
    position: absolute;
    right: 0;
}
.selectSort{
    margin-left: 5px;
}
.container{
    padding-top: 20px;
}
.chef{
    display: flex;
    font-size: 13px;
}
button.nameChef{
    font-style: italic;
    border: none !important;
    background: none;
    width: fit-content;
    height: fit-content;
}
.dateRecipe{
    font-style: italic;
    padding-left: 5px;
}

.fa-user-edit{
    color: #d80650;
}
.fa-calendar-alt{
    color: #d80650;
}
.editRecipe{
    background: #ffc107;
    font-size: 20px;
}
.deleteRecipe{
    margin-left: 5px;
    background: #dc3545;
    font-size: 20px;
}
.heart{
    border: 1px solid;
    margin-right: 5px;
    font-size: 20px;
}
.status{
    padding-left: 10px;
    
}
/* .fa-heart:active{
    color: red !important;
} */
.list-group-item-ingredient{
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: auto;
    height: 100%;
}
.nameDate{
    display: flex;
}
.dateRight{
    position: relative;
}
.dateComment{
    position: absolute;
    right: 0;
    font-size: 13px;
}
.imgRecipe{
    overflow: hidden;
      height: 100%;
      opacity: 0.88;
      backface-visibility: hidden;
      transition: all 0.4s ease-out;
}
.img-detail{
    z-index: 1;
    height: 100%;
    width: 100%;
    /* transform: translate(50%, 50%); */
    backface-visibility: hidden;
   
}
.imgRecipeBox{
    width: 100%;
    margin-bottom: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline-offset: -15px;

}
.imgRecipe:hover{
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;        
  }