@media all and (max-width: 1024px){

}
@media all and (min-width: 1400px){

}
@media all and (max-width: 767px){
    .img-detail{
        width: 100% !important;
        height: 100% !important;
        position: none;
    }
}
@media only screen and (max-width: 600px) {
    
    .list-ingredients{
        width: 260px !important;
        padding-left: 103px !important;
    }
    .avatar{
        width: 50px;
        height: 50px;
    }
    .form-floating{
        width: 400px !important;
        
    }
    .SortComment{
        padding-left: 220px !important;
    }
    a.btn.btn-xoa {
        background-color: #8e2a20;
        padding: 5px 20px !important;
      }
    a.btn.btn-sua {
        background-color: #0d6efd;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px 20px !important;
      }
      .bg-light{
        height: auto !important;
    }
  }
#stepsDes{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.description > ol{
    padding-bottom: 0px;
}
.nameDetailRecipe{
    animation: ani 1s ease-in-out;
    font-weight: bold;
    color: green;
}
@keyframes ani{
    from{transform: translateY(-100%);}
    to{transform: translateY(0);}
}
.ingredientsDetail{
    font-weight: bold;
    color: green;
}
.bodyInfo{
    display: flex;
}
.modal-body-content{
    padding-left: 7px;
    margin-top: -2px;
    animation: animaInfo 1s ease-in-out;
}
@keyframes animaInfo{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.tutorial{
    font-weight: bold;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: green;
    padding: 0.4em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 0 10px 2px rgb(167, 166, 166);
}
.tutorial span {
    position: relative;
    pointer-events: none;
  }
.tutorial::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, greenyellow, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
.tutorial:hover::before {
    --size: 1000px;
  }
.bg-light2{
    background-color: #f8f9fa!important;
    box-shadow: 0 0 10px 2px rgb(167, 166, 166);
}
.contentTop{
    padding-bottom: 20px;
}
.boderTutorial{
    margin-top: 0px !important;
    --bs-gutter-y: 0px !important;
    border: 1px solid gainsboro;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px rgb(167, 166, 166);
}
.form-floating{
    width: 500px;
    border: none;
    margin-bottom: 1px solid #dadada;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    line-height: 20px;
}
.form-floating>.form-control, .form-floating>.form-select{
    height: 100px;
}

.comment{
    position: absolute;
    top: -18px;
    left: 65px;
    transform: translate(-50%, -50%);
    color: white;
    padding: 7px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: green;
}
.comment:before{
    content: '';
    width:50%;
}
.comment span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

.comment span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background:white;
}

.comment span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

.comment span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: white;
}

.comment span:nth-child(1) {
    animation: animated1 2s linear infinite;
}
@keyframes animated1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.comment span:nth-child(2) {
    animation: animated2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animated2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


.comment span:nth-child(3) {
    animation: animated3 2s linear infinite;
}

@keyframes animated3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.comment span:nth-child(4) {
    animation: animated4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animated4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.comment{
    overflow: hidden;
}

.bod{
    border-bottom: 1px solid green;
    margin-bottom: 20px;
    display: flex;
    position: relative;

}
.form-comment{
    display: flex;
    margin-top: 10px;
}
.btn-post{
    float: right;
    background: #0277bd;
    padding: 0.3em 1em;
    font-size:17px;
    margin:5px 0px;
    border:none;
    border-radius:10px;
    box-shadow:0 9px gray;
    cursor:pointer;
    outline:none;
    color: white;
  }
  .btn-post:active{
    transform:translate(0,4px);
    -webkit-transform:translate(0,4px);
    box-shadow:0 4px gray;  
  }
.contentAcc{
    padding-left: 10px;
}
.nameAcc{
    margin-bottom: 0px;
    font-weight: bold;
}
.SortComment{
    margin-top: -26px;
    float: right;
    position: absolute;
    right: 0;
}
.selectSort{
    margin-left: 5px;
}
.container{
    padding-top: 20px;
}
.chef{
    display: flex;
    font-size: 13px;
}
button.nameChef{
    font-style: italic;
    border: none !important;
    background: none;
    width: fit-content;
    height: fit-content;
}
.dateRecipe{
    font-style: italic;
    padding-left: 5px;
}

.fa-user-edit{
    color: #d80650;
}
.fa-calendar-alt{
    color: #d80650;
}
#edt{
    color: black !important;
}
.editRecipe{
    background: #ffc107 !important;
    font-size: 20px;
}
.deleteRecipe{
    margin-left: 5px;
    background: #dc3545;
    font-size: 20px;
}
.heart{
    border: 1px solid !important;
    margin-right: 5px;
    font-size: 20px;
    background: none !important;
}
.status{
    padding-left: 10px;
    display: flex;
}
/* .fa-heart:active{
    color: red !important;
} */
.list-group-item-ingredient{
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: auto;
    height: 100%;
}
.nameDate{
    display: flex;
}
.dateRight{
    position: relative;
}
.dateComment{
    position: absolute;
    right: 0;
    font-size: 13px;
}
.imgRecipe{
    overflow: hidden;
      height: 100%;
      opacity: 0.88;
      backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease-out;
}
.img-detail{
    z-index: 1;
    height: 100%;
    width: 100%;
    /* transform: translate(50%, 50%); */
    backface-visibility: hidden;
}
.imgRecipeBox{
    width: 100%;
    margin-bottom: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline-offset: -15px;

}
.imgRecipe:hover{
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;        
  }
  /*  */
#accounntInfo{
    position: fixed;
    fill: #d80650;
}
#close_info{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 1;
    font-size: 29px;
    background: none;
    border: none;
    color: red;
}
.title_info{
    margin-bottom: 0px;
}
.header_info{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: #27bce4;
}
#close{
    color: white;
}
.bt{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background: red;
}
.bt,
.bt:link,
.bt:visited{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    transition: all .2s;
}

.bt::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 100px;
    transition: all .4s;
}

.bt:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.bt:active{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.bt-white{
    color: #777777;
    background-color: #fff;
}

.bt-white::after{
    background-color: #fff;
}

.bt:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.commentRecipe{
    padding-bottom: 50px;
}
.hoverList{
    background: white !important;
    position: relative;
    z-index: 2;
    padding: 10px;
}
.hoverList ol{
    position: relative;
    padding-left: 30px;
  }
  
  .hoverList ol li{
    position: relative;
    left: 0;
    color: black;
    margin: 4px 0;
    border-left: 2px solid green;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .hoverList ol li span{
    position: relative;
    padding: 8px;
    display: inline-block;
    transition: 0.5s;
  }
  .hoverList ol li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: green;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .hoverList ol li:hover::before{
    transform: scaleX(1);
  }
  .hoverList ol li:hover{
    left:10px;
  }
  
  .hoverList ol li:hover span{
    color: #fff;
  }
.btnLatest {
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #f72359;
    padding: 5px 10px;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 50px;
    margin-bottom: 10px;
}
.btnLatest span {
    position: relative;
    pointer-events: none;
}
  .btnLatest::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
.btnLatest:hover::before {
    --size: 200px;
}

.description ol {
    position: relative;
    background: #fff;
  }
  
  .description ol li {
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
  }
  
.description ol:hover li {
    opacity: 0.2;
}
.description ol li:hover {
    transform: scale(1.1);
    z-index: 10;
    background: rgb(4, 179, 4);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}
