body{
    box-sizing: border-box;
}
:root{
    --pink-color: rgb(254, 95, 85);
}
.recipe{
    background: transparent;
}

/* BIG TITILE */
#big-title {
    background: url(./smooth.jpg);
    color: #efa810;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    text-align: center !important;
    font-size: 3.5rem;
    font-family: 'Courgette', cursive;
    height: 600px;
    background-position: center;
    padding-left: 402px;
    padding-top: 200px;
}
#flip {
    height: 80px;
    overflow: hidden;
}
#flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 80px;
    margin-bottom: 15px;
    display: inline-block;
}
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
/* SEARCH BAR */

.search-form {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    position: relative;
}
#box-search {
    width: 500px;
}
.search-input {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}
.search-input input.query {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    flex-grow: 1;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0 0 15px rgb(0 0 0 / 10%);
}
.search-input .btnSearch {
    width: 83px;
    border: none;
    background: rgb(253 189 185);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 15px rgb(0 0 0 / 10%);
}

/*111111111111111111111111 */
.search-by{
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
}
.searchBtn{
    width: 28px;
}
::selection {
    background: #093d3b;
    color: #fff;
 }
 .search-wrapper {
    position: absolute;
    transform: translate(-50%);
    left: 70%;
}

 .search-wrapper .input-holder {    
     height: 50px;
     width:50px;
     overflow: hidden;
     background: rgba(255,255,255,0);
     border-radius:6px;
     position: relative;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder {
     width:450px;
     border-radius: 50px;
     background: rgba(0,0,0,0.2);
     transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
 }
 .search-wrapper .input-holder .search-input {
     padding:0px 50px 0 20px;
     opacity: 0;
     position: absolute;
     top:0px;
     left:0px;
     background: transparent;
     box-sizing: border-box;
     border:none;
     outline:none;
     font-family:"Open Sans", Arial, Verdana;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     color:#FFF;
     transform: translate(0, 60px);
     transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.3s;
 }
 .search-wrapper.active .input-holder .search-input {
     opacity: 1;
     transform: translate(0, 15px);
 }
 .search-wrapper .input-holder .search-icon {
    width: 50px;
    height: 50px;
    background:#151313;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

 .search-wrapper .close {
     position: absolute;
     z-index: 1;
     top:24px;
     right:20px;
     width:25px;
     height:25px;
     cursor: pointer;
     transform: rotate(-180deg);
     transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     transition-delay: 0.2s;
 }
 .search-wrapper.active .close {
     right:-56px;
     transform: rotate(45deg);
     transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.5s;
 }
 .search-wrapper .close::before, .search-wrapper .close::after {
     position:absolute;
     content:'';
     background: #FE5F55;
     border-radius: 2px;
 }
 .search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: -1px;
    top: 0px;
 }
 .search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: -11px;
    top: 10px;
 }
 /* SORT BY */
 .sortGroup {
    margin-bottom: 30px;
}
/* RECIPE LIST */

@keyframes fadeIn {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(1);
        opacity: 1;
    }
}
/*products */
.products {
    border: 0.2px dotted #ada6a6;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 3px 3px 8px #ada6a6;
    margin-top: 40px;
}
.detail-product--link{
    position: relative;
    display: block;
    width: 100%;
}
/* .detail-product--link_img{
   padding-bottom: 20px;
} */
.detail-product--link_img{
    padding-bottom: 50px;
    perspective: 1000px;
}
.detail-product--link_img .link--img{
    transform-style: preserve-3d;
	transition: all 0.5s;
}
.detail-product--link_img:hover .link--img{
    transform: rotateX(80deg); transform-origin: bottom;
}.detail-product--link_img .link--img::before{
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 50%);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg)
 translateZ(-80px) scale(1.75);
}
.detail-product--link_img .link--img::after{
    content: ''; position: absolute; left: 0; bottom: 0; 
    transform: rotateX(90deg); transform-origin: bottom;
}
.detail-product--link_img .link--img img:hover{
    opacity: 1;
    box-shadow: 0 0 15px 15px rgb(0 0 0 / 50%);
    transform: rotateX(0) translateZ(-60px) scale(0.95);
}
.detail-product__text{
    padding: 0 15px;
}
.detail-product__title{
    margin-bottom: 25px;
    height: 5.5rem;
    overflow: hidden;
    letter-spacing: 0.4px;
    line-height: 1.6rem;
}
.detail-product__title a{
    color: var(--pink-color);
    text-decoration: none;
    font-size: 1.3rem;
}
.detail-product__description{
    line-height: 1.5rem;
    font-size: 14px;
    color: #777;
    height: 100px;
    margin-bottom: 20px;
}
.detail-product__meta-data{
    padding: 15px 30px;
    margin-bottom: 0;
    border-top: 1px solid #eaeaea;
    line-height: 1.3em;
    font-size: 12px;
    margin-bottom: 13px;
    color: #adadad;
}
.btn-group{
    margin-bottom: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.btn-show{
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
}
.btn-show:hover{
    opacity: 1;
    transition: ease-in 0.2s;
    color: #fff;
}
.btn-handle{
    display: flex;
}

.btn-update, .btn-delete {
    padding: 10px 15px !important;
}
.btn-update{
    background-color: #ffc107;
    margin-right: 5px;
}
.btn-delete{
    background: #dc3545;;
}
@media (min-width: 500px) and (max-width: 767px) {
    .search-by {
        display: flex;
        margin: 40px 0 0 0;
        justify-content: center;
    }
    .recipe-list {
        margin-top: 0;
    }
    #box-search {
        width: 300px;
    }
}
@media all and (max-width: 767px) {
    .search-by {
        display: flex;
        margin: 40px 0 0 0;
        justify-content: center;
    }
    .recipe-list {
        margin-top: 0;
    }
}
@media all and (max-width: 992px) {
    .title {
        display: none;
    }
    #big-title{
        font-size: 2.5rem;
        padding-left: 202px;
    }
    .search-by {
        display: flex;
        margin: 40px 0 0 0;
        justify-content: center;
    }
    .recipe-list {
        margin-top: 0;
    }
}

@media all and (min-width: 1200px) {
    .btn-show{
        padding: 10px;
    }
}
